body {
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: none !important;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#progress_pay {
    margin-top: 70px !important;
}

.wait-please {
    text-align: center !important;
}

.spinner {
    height: 90px;
    background: url(../img/spinner.gif) center top no-repeat;
}
