#acsFrame {
    height: 100vh !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

#acs {
    margin: 0 !important;
}

.container {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.main {
    width: 100% !important;
}
